* {
    font-family: 'Montserrat';
}

.btn-primary {
    font-weight: bold;
}

.circular-btn {
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    aspect-ratio: 1/1;
    height: 24px;
    font-size: x-small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

.circular-btn:hover {
    background-color: #1e2a8f;
    color: white;
}

.pagination {
    gap: 42px;
}

.rounded-pill {
    font-size: small;
    font-weight: bold;
}

::placeholder {
    color: #d8d8d8
}

.current-page {
    background-color: #1e2a8f;
    color: white;
    cursor: default;
    border: none;
    font-weight: bold;
}

.btn-danger, .btn-warning {
    border-color: #545454;
    border-width: 2px;
    color: black;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-search {
    width: 10rem;
    text-align: left;
    padding-left: 3rem;
    border: none;
    height: 40px;
    line-height: 40px;
}

.search-icon, .quantity-icon {
  position: absolute;
  left: 12px;
  top: 45%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg)
}

.quantity-icon {
    width: 30px;
    height: 25px;
}