<div class="container mt-5">
<div class="container-fluid d-flex p-0 gap-4">
    <h2 class="fw-bold">Zones</h2>
    <div class="input-wrapper">
      <img src="assets/search.png" alt="search icon" class="search-icon">
      <input type="text" class="rounded-pill btn-primary input-search" type="text" autofocus placeholder="Search by ID">
    </div>
    <div class="input-wrapper">
      <img src="assets/quantity.png" alt="quantity icon" class="quantity-icon">
      <input type="text" class="rounded-pill btn-primary input-search" placeholder="How Many?">
    </div>
</div>

<table class="table table-bordered mt-2">
  <thead>
    <tr class="table-primary">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Radius</th>
      <th scope="col">Deliveries</th>
      <th scope="col">
      </th>
    </tr>
  </thead>
  <tbody>
    @for (zone of zones; track $index) {
    <tr>
      <th scope="row">{{ zone.id }}</th>
      <td>{{ zone.name }}</td>
      <td class="dropend">
        <button class="btn btn-secondary dropdown-toggle w-100 d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          <i class="bi bi-geo-alt-fill"></i>Location
        </button>
        <ul class="dropdown-menu p-3">
          <li><span class="d-block fw-bold">Latitude:</span>{{zone.location.lat}}</li>
          <li><span class="d-block fw-bold">Longitude:</span>{{zone.location.lng}}</li>
        </ul>
      </td>
      <td>{{ zone.radius }}</td>
      <td id="deliveries">
        <button class="btn btn-secondary dropdown-toggle w-100 d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          <i class="bi bi-geo-alt-fill"></i>Deliveries
        </button>
      </td>
      <td class= "d-flex gap-3 justify-content-center">
        <button class="rounded-pill btn btn-warning px-0 w-100">Update</button>
        <button class="rounded-pill btn btn-danger px-0 w-100">Delete</button>
      </td>
    </tr>
  }
  </tbody>
</table>
<div class="mt-3  ">
    <button class="rounded-pill btn btn-primary px-5" id="add" (click)="mostrarCreateZone = true">Add</button>
    
    <create-zone-modal *ngIf="mostrarCreateZone" (cerrar)="mostrarCreateZone = false" />
</div>
</div>

<div class="pagination position-absolute bottom-0 start-50 translate-middle-x" role="group">
    <button type="button" class="btn circular-btn">&laquo;</button>
    <p class="circular-btn current-page">2</p>
    <button type="button" class="btn circular-btn">&raquo;</button>
</div>