#login-container{
  min-height: 100vh;
  background: linear-gradient(135deg, black, #364195);
}

.card {
  width: 100%;
  max-width: 400px;
}

label, h2, button, a {
  font-weight: bold;
  color: #545454
}
 
input {
    background-color: #f7f6f7;
    border-color: #929292;
}

input {
  background-color: #f7f6f7;
  border-color: #929292;
}

button, a{
  color: white;
}

<<<<<<< HEAD
.btn-primary {
  background-color: #333e8f;
  border-color: #333e8f;
=======
.btn-primary{
    background-color: #333e8f;
    border-color: #333e8f;
}

input {
    background-color: #f7f6f7;
    border-color: #929292;
>>>>>>> 3941a2ff1551a252daee236fa30f05d724e5df24
}