#login-container{
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, black, #364195);
}

.card {
  height: 60vh;
  width: 100%;
  max-width: 400px;
}

label, h2, button, a {
  font-weight: bold;
  color: #545454
}

button, a{
  color: white;
}