<div class="container-fluid" id="register-container">
  <div class="container vh-100 d-flex align-items-center">
    <div class="row w-100 align-items-center">
      <div class="col-md-6">
        <div class="card shadow p-4 w-100" style="max-width: 400px;">
          <h2 class="text-center mb-4">Register</h2>
          <form>
            <div class="d-flex justify-content-between gap-3">
              <div class="mb-3 w-100">
                <label for="first-name" class="form-label">First name</label>
                <input type="text" class="form-control" id="first-name" required>
              </div>
              <div class="mb-3 w-100">
                <label for="last-name" class="form-label">Last name</label>
                <input type="text" class="form-control" id="last-name" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="usuario@ejemplo.com" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3">
              <label for="password-confirm" class="form-label">Confirm password</label>
              <input type="password" class="form-control" id="password-confirm" required>
            </div>
            <div class="d-flex justify-content-between gap-3">
              <a [routerLink]="'/login'" class="btn btn-secondary w-100">I have an account</a>
              <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 text-end d-none d-md-block">
        <img src="assets/logo-with-name.png" class="img-fluid pe-4" alt="Logo" style="max-height: 300px;">
      </div>
    </div>
  </div>
</div>
