<div class="modal-backdrop fade show"></div>
<div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="zoneCreationModal"
    style="display: block; position: fixed; top: 0; left: 0; right: 0; z-index: 1050;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-5">
            <div class="modal-header fondo-azul d-flex rounded-top-5">

                <!-- Botón a la izquierda -->
                <button type="button" class="btn-close btn-close-white me-auto hover-dark" (click)="onCerrar()"
                    aria-label="Close">
                </button>

                <!-- Título centrado en el espacio restante -->
                <h3 class="modal-title text-center fw-bold text-white w-100 mx-2">
                    <!-- "w-100" ocupa el ancho disponible -->
                    Add a New Zone
                </h3>
                <!-- Espacio vacío a la derecha para balancear (opcional) -->
                <div class="ms-auto" style="width: 24px;"></div> <!-- Mismo ancho que el botón -->
            </div>
            <div class="modal-body container-fluid justify-content-center px-5 pb-5">
                <form>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6">
                            <label for="nameInput" class="form-label fw-bold">Name</label>
                            <input type="text" class="form-control py-2 rounded-3 border-dark " id="nameInput" aria-describedby="name"
                                placeholder="Ej:Zona Norte">
                        </div>
                        <div class="col-4">
                            <label for="radiusInput" class="form-label fw-bold">Radius</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" id="radiusInput" aria-describedby="radius"
                                placeholder="Ej:10.0">
                        </div>
                    </div>
                    <div class="row">
                        <label class="form-label fw-bold fs-6 mt-3 md-3">Location</label>
                    </div>

                    <div class="row align-items-center justify-content-between ">
                        <div class="col">
                            <label for="latitudeInput" class="form-label fw-bold">Latitude</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" id="latitudeInput" aria-describedby="latitude"
                                placeholder="Ej:-31.78">
                        </div>
                        <div class="col">
                            <label for="longitudeInput" class="form-label fw-bold">Longitude</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" id="longitudeInput" aria-describedby="longitude"
                                placeholder="Ej:-31.78">
                        </div>
                        <div class="col me-auto align-self-end">
                            <button type="submit" class="btn fondo-azul b-3 rounded-5 text-center fw-bold text-white w-100 py-3 px-5">Add</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>