<div class="modal-backdrop fade show"></div>
<div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="zoneUpdateModal"
    style="display: block; position: fixed; top: 0; left: 0; right: 0; z-index: 1050;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-5">
            <div class="modal-header fondo-amarillo d-flex rounded-top-5">

                <!-- Botón a la izquierda -->
                <button type="button" class="btn-close btn-close-white me-auto hover-dark" (click)="onCerrar()"
                    aria-label="Close">
                </button>

                <!-- Título e ID al centro -->
                <div class="position-relative w-100 text-center">
                    <h3 class="modal-title fw-bold text-white">Update a zone</h3>
                    <!-- position-relative: permite que los elementos hijos con position-absolute se posicionen respecto a este contenedor.
                     w-100 para usar todo el ancho disponible del contenedor.-->
                    <div class="position-absolute top-50 translate-middle-y end-0 me-4">
                        <div class="fondo-id text-white rounded-pill px-3 py-1 d-flex align-items-center gap-2 small">
                        <span class="fw-bold">ID</span>
                        <span class="bg-white text-dark rounded-pill px-2 py-0 fw-bold">{{ zona.id }}</span>
                        </div>
                    </div>
                    </div>
                <!-- Espacio vacío a la derecha para balancear (opcional) -->
                <div class="ms-auto" style="width: 24px;"></div> <!-- Mismo ancho que el botón -->
            </div>
            <div class="modal-body container-fluid justify-content-center px-5 pb-5">
                
                <form [formGroup]="formulario" (ngSubmit)="send()">
                    @if (error) {
                        <div class="alert alert-danger">{{ error }}</div>
                        }
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6">
                            <label for="nameInput" class="form-label fw-bold">Name</label>
                            <input type="text" class="form-control py-2 rounded-3 border-dark " formControlName="nombre" id="nameInput" aria-describedby="name"
                                placeholder="Ej:Zona Norte">
                            @if (formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched) {
                                <p class="text-danger">Name is required and must be have at least three characters.</p>}
                        </div>
                        <div class="col-4">
                            <label for="radiusInput" class="form-label fw-bold" >Radius</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" formControlName="radio" id="radiusInput" aria-describedby="radius"
                                placeholder="Ej:10.0">
                            @if (formulario.get('radio')?.invalid && formulario.get('radio')?.touched) {
                                <p class="text-danger">Radius is required and must be greater than 0.</p>
                                }
                        </div>
                    </div>
                    <div class="row">
                        <label class="form-label fw-bold fs-6 mt-3 md-3">Location</label>
                    </div>

                    <div class="row align-items-center justify-content-between ">
                        <div class="col">
                            <label for="latitudeInput" class="form-label fw-bold">Latitude</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" formControlName="latitud" id="latitudeInput" aria-describedby="latitude"
                                placeholder="Ej:-31.78">
                            @if (formulario.get('latitud')?.invalid && formulario.get('latitud')?.touched) {
                                <p class="text-danger">Latitude is required and must be between -90.0 y 90.0.</p>
                                }
                        </div>
                        <div class="col">
                            <label for="longitudeInput" class="form-label fw-bold">Longitude</label>
                            <input type="number" class="form-control py-2 rounded-3 border-dark" formControlName="longitud" id="longitudeInput" aria-describedby="longitude"
                                placeholder="Ej:-31.78">
                            @if (formulario.get('longitud')?.invalid && formulario.get('longitud')?.touched) {
                                <p class="text-danger">Longitude is required and must be between -180.0 y 180.0.</p>
                                }
                        </div>
                        <div class="col me-auto align-self-end">
                            <button type="submit" class="btn fondo-amarillo b-3 rounded-5 text-center fw-bold text-white w-100 py-3 px-5" [disabled]="formulario.invalid">Update</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
