.fondo-amarrillo{
    background-color:#f9bf18;
    border-color: #f9bf18;
}
.hover-dark:hover {
  filter: brightness(0.7);
  transition: filter 0.2s; /* Efecto suave */
}
.form-label {
  font-size: smaller;
}
button[type="submit"] {
  font-size:smaller;
}
.form-control{
    height: 9vh;
}
.modal-dialog.modal-lg {
  max-width: 700px; /* Sobrescribe el ancho de modal-lg */
}